body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.highlight{
  height: 170px;
  background: linear-gradient(#ffffff00, #ffffffff, #ffffff00 );
}